header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 15vh;
    color: azure;
}

#logo {
    font-size: 2rem;
}

a:link {
    text-decoration: none;
    color: azure;
  }
  
  a:visited {
    text-decoration: none;
    color: azure;
  }

/* NAVBAR */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 70vw;
}

#navbar a{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

#navbar a::after{
    content: '';
    height: 1px;
    width: 0;
    background: #C6EBBE;
    position: absolute;
    left: 0;
    bottom: 10;
    transition: 0.5s;
}

#navbar a:hover::after{
    width: 100%;
}

/* SECTIONS */

h1 {
    font-size: 3rem;
}

.container {
    height: 100vh;
    background-color: rgba(47, 47, 149, 0.873);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}


#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    width: 40vw;
    margin: 20vh 10vw;
    color: aliceblue;
}

#middle-1, #bottom {
    background-color: rgb(129, 129, 225);
}

.btn {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.btn:hover {
    color: black;
}

.container a{
    list-style: none;
    display: flex;
    justify-items: flex-end;
    position: relative;
}

.container a::after{
    content: '';
    height: 0;
    width: 100%;
    background: azure;
    position: absolute;
    transition: 0.5s;
    z-index: -1;
}

.container a:hover::after{
    height: 100%;
}

/* FOOTER */

footer {
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 150vh;
}

.footer-link:hover {
    color: gray;
}
